html, body {
  margin: 0;
  height: 100%;
}
body {
  font-family: "Andale Mono", sans-serif;
  text-align: center;
  display: grid;
  grid-template-rows: 8.5vw auto;
  grid-template-columns: 100%;
  grid-template-areas: "header" "content";
}

.index_body {
  background-color: #153b36
}
.index_header {
  grid-area: header;
  color: white;
  background-color: #153b36;
}
.index_content {
  grid-area: content;
  background-color: #97b2af;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  margin-left: 5vw;
  margin-right: 5vw;
}


.purple_body {
  background-color: #413752;
}
.purple_header {
  grid-area: header;
  color: white;
  background-color: #413752;
}
.purple_content {
  grid-area: content;
  background-color: #bcb7c4;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  margin-left: 5vw;
  margin-right: 5vw;
}


.earth_body {
  background-color: #324932;
}
.earth_header {
  grid-area: header;
  color: white;
  background-color: #324932;
}
.earth_content {
  grid-area: content;
  background-color: #b3bfb4;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  margin-left: 5vw;
  margin-right: 5vw;
}


.odd_world_body {
  background-color: #1a344e;
}
.odd_world_header {
  grid-area: header;
  color: white;
  background-color: #1a344e;
}
.odd_world_content {
  grid-area: content;
  background-color: #acbec3;
  padding-top: 1em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  margin-left: 5vw;
  margin-right: 5vw;
}


header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home_img {
  width: 3em;
  height: 3em;
  flex: 0 0 auto;
  order: 1;
  margin-left: 5vw;
}
.sound_img {
  width: 3em;
  height: 3em;
  flex: 0 0 auto;
  order: 3;
  margin-right: 5vw;
}

figure {
  display: inline-block;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  display: inline-block;
  font-size: 4vw;
  border: 0.02vw solid;
  flex: 1 1 60vw;
  order: 2;
  margin-left: 4vw;
  margin-right: 4vw;
}
.iheader {
  margin-left: 12.3vw;
}

p {
  font-size: 2em;
  background-color: white;
  margin: 1em;
  padding: 0.1em;
  border: 0.1em solid;
  border-radius: .5em;
  border-color: black;
}

img {
  width: 13em;
}
.giant {
  width: 16em;
}
.img_all {
  width: 30em;
}

.comment {
  font-size: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.desc {
  font-size: 1.3em !important;
}
.won {
  font-weight: bold;
  font-size: 2em;
}
