html, body {
  margin: 0;
  height: 100%;
}
body {
  font-family: "Andale Mono", sans-serif;
  text-align: center;
}

.index_body {
  background-color: #153b36;
}
.index_header {
  color: white;
  background-color: #153b36;
}
.index_content {
  background-color: #97b2af;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  margin-left: 5vw;
  margin-right: 5vw;
}

.purple_body {
  background-color: #413752;
}
.purple_header {
  color: white;
  background-color: #413752;
}
.purple_content {
  background-color: #bcb7c4;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  margin-left: 5vw;
  margin-right: 5vw;
}

.earth_body {
  background-color: #324932;
}
.earth_header {
  color: white;
  background-color: #324932;
}
.earth_content {
  background-color: #b3bfb4;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  margin-left: 5vw;
  margin-right: 5vw;
}

.odd_world_body {
  background-color: #1a344e;
}
.odd_world_header {
  color: white;
  background-color: #1a344e;
}
.odd_world_content {
  background-color: #acbec3;
  padding-top: 1em;
  padding-bottom: 2em;
  margin-bottom: 2em;
  margin-left: 5vw;
  margin-right: 5vw;
}


header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home_img {
  width: 3em;
  height: 3em;
  flex: 0 0 auto;
  order: 1;
  margin-left: 5vw;
  margin-top: 0.5vw;
}
.mode_img {
  cursor: pointer;
  width: 3em;
  height: 3em;
  flex: 0 0 auto;
  order: 3;
  margin-right: 5vw;
  margin-top: 0.5vw;
}

figure {
  display: inline-block;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  display: inline-block;
  font-size: 4vw;
  border: 0.02vw solid;
  flex: 1 1 60vw;
  order: 2;
  margin-left: 4vw;
  margin-right: 4vw;
}
.iheader {
  margin-left: 12.3vw;
}

p {
  font-size: 2em;
  background-color: white;
  margin: 1em;
  margin-top: 0.1em;
  padding: 0.1em;
  border: 0.1em solid;
  border-radius: .5em;
  border-color: black;
}

/* smooth appearance of images */
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
img {
  width: 13em;
  margin-bottom: 0.5em;
  animation: fadein 3s;
}
.animate {
  animation: fadein 2s;
}
.giant {
  width: 16em;
}
.img_all {
  width: 17em;
  margin-bottom: 5vw;
}

.comment {
  font-size: 1em;
  margin-left: 2em;
  margin-right: 2em;
  background-color: #e1e1e1;
}

.desc {
  font-size: 1.3em;
}
.won, .death {
  font-weight: bold;
  background-color: #c7c6c8;
  font-size: 2em;
}
.won {
  background-color: #fff4cc;
}
.button {
  text-decoration: none;
  text-align: center;
  background-color: #e1e1e1;
  border: 0.1em solid;
  color: black;
  padding: 0.5em 1em;
  font-size: 1em;
  font-family: "Andale Mono", sans-serif;
  border-radius: .5em;
  cursor: pointer;
  filter: drop-shadow(2px 2px 5px #8f999a);
}

/* hover and focus */
a:hover, a:focus, figure:hover, figure:focus, .mode_img:hover, .mode_img:focus, button:hover, button:focus {
  filter: drop-shadow(2px 2px 5px #8f999a);
  transform: scale(1.1);
}

/* media query for mobile devices */
 @media only screen and (max-width: 600px) {
   .index_content {
     margin-left: 0;
     margin-right: 0;
   }
   .purple_content {
     margin-left: 0;
     margin-right: 0;
   }
   .earth_content {
     margin-left: 0;
     margin-right: 0;
   }
   .odd_world_content {
     margin-left: 0;
     margin-right: 0;
   }
 }


/* dark mode properties */
.dark-mode .index_body {
  background-color: #6c807e;
}
.dark-mode .index_header {
  background-color: #6c807e;
}
.dark-mode .index_content {
  background-color: #153b36;
}
.dark-mode .index_body p {
  background-color: #97b2af;
  color: black;
}

.dark-mode .purple_body {
  background-color: #706d74;
}
.dark-mode .purple_header {
  background-color: #706d74;
}
.dark-mode .purple_content {
  background-color: #413752;
}
.dark-mode .purple_body p {
  background-color: #bcb7c4;
  color: black;
}

.dark-mode .earth_body {
  background-color: #667367;
}
.dark-mode .earth_header {
  background-color: #667367;
}
.dark-mode .earth_content {
  background-color: #324932;
}
.dark-mode .earth_body p {
  background-color: #b3bfb4;
  color: black;
}

.dark-mode .odd_world_body {
  background-color: #65797e;
}
.dark-mode .odd_world_header {
  background-color: #65797e;
}
.dark-mode .odd_world_content {
  background-color: #1d4266;
}
.dark-mode .odd_world_body p {
  background-color: #acbec3;
  color: black;
}

.dark-mode #starve_img {
  filter: invert();
}

.dark-mode .mode_img {
  filter: invert();
}
.dark-mode .home_img {
  filter: invert();
}

.dark-mode h1 {
  color: black;
}
.dark-mode p {
  background-color: #393939;
  color: white;
}
.dark-mode .comment {
  background-color: #575757;
}
.dark-mode figcaption {
  color: white;
}
.dark-mode .death {
  background-color: #535353;
}
.dark-mode .won {
  background-color: #4e4c41;
}
